/* Website Elements */
* {
    font-family: Helvetica;
}
body {
    color: #eeeeee;
    background: #a0a088;
    padding: 5px;
    margin: 5px;
}
h1 {
    color: #900C3F;
    font-size: 24pt;
    text-align: center;
} 
h2 {
    color: white;
    font-size: 18pt;
    text-align: center;
} 
p {
    text-align: justify
}
/* Link hover feature */
a {
    display: block;
    color: #000;
    text-decoration: none;
}
/* Change the link color on hover */
a:hover {
    background-color: #555;
    color: white;
}

/* Button Design */
.button {
    background-color: blue;
    color: white;
    margin: 5px;
    border: 5px solid black;
    padding: 16px 33px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

/* Table Elements */
table {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 5px;
    text-align: left;
    background-color: yellow;
}
th {
    background-color: black;
    color: white;
}
td {
    color: black;
}
/* Colorful table links, without underlining */
td a {
    display: block;
    color: #000;
    text-decoration: none;
}
/* Change the table link color on hover */
td a:hover {
    background-color: #555;
    color: white;
}
tfoot td{
    background-color: black;
    color: red;
    font-weight: bold;
}

/* Form Elements */
form h3 {
    clear: left;
}
label{

    float: left;
    clear: left;
    width: 150px;

}
input {
  float: left;
}