body {
    border: 10px solid purple;
    padding: 2px;
    margin: 2px;
}
p {
    color: black;
    font-weight: 300;
    font-size: 16pt;
    text-align: center;
}
.column-left{ 
    float: left; 
    width: 33%; 
}
.column-right{ 
    float: right; 
    width: 33%; 
}
.column-center{ 
    display: inline-block; 
    width: 33%; 
}