/**
 *
 * @author robertcinca
 */
body {
    border: 8px solid #CDCDCD;
    padding: 6px;
    margin: 2px;
}
p {
    color: black;
    font-weight: 300;
    font-size: 16pt;
    text-align: center;
}
.bookstoreContainer {
    font-size: 0; /*fix white space*/
}
.bookstoreContainer > div {
    font-size: 16px; /*reset font size*/
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
}
@media (max-width: 575px) { /*breakpoint*/
    .bookstoreContainer > div {
        display: block;
        width: 100%;
    }
}