/**
 *
 * @author lokheili3
 */
.bookList  img{
    height: 150px;
    width: 100px;
}

.addToCart {
    display: inline-block;
    float: right;
}

.addToCart label{
    width: auto;
    padding-top: 10px;
}

.addToCart input {
    width: auto;
    font-size: 20px;
    color: blue;
}

.manageButton input {
    width: auto;
    font-size: 20px;
    color: blue;
}