/* 
    Created on : 23-Apr-2017, 01:52:12
    Author     : robertcinca
*/
img.logoutimg {
    width: 100%;
    max-height: 300px;
    border-radius: 20%;
}

.column-left-logout{ 
    width: 40%;
    margin-top: 5%;
    float: right;
}
.column-right-logout{ 
    width: 40%; 
    margin-bottom: 20pt;
}

